
.Bar-chart {
    padding: 48px;
    border-radius: 14px;
    box-shadow: 2px 6px 17px 5px lightgray;
}



.Line-chart{
    padding: 48px;
    border-radius: 14px;
    box-shadow: 2px 6px 17px 5px lightgray;
}
.Pie-chart{
    padding: 48px;
    border-radius: 14px;
    box-shadow: 2px 6px 17px 5px lightgray;
}
.Doughnut-chart{
    padding: 48px;
    border-radius: 14px;
    box-shadow: 2px 6px 17px 5px lightgray;
}